@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Example data retrieved via RestSharpClient: ID = @ViewData["SampleResultID"], Body = @ViewData["SampleResultBody"]</p>

<p style="color:red">@ViewData["Error"]</p>